DATABASE_URL="postgres://f55583f7b7d8488b3a125ff0550567877d46083d65f534a6d92fb16681efed84:sk_YDsjCyzom4h9LlVk4-6jp@db.prisma.io:5432/postgres?sslmode=require"
POSTGRES_URL="postgres://f55583f7b7d8488b3a125ff0550567877d46083d65f534a6d92fb16681efed84:sk_YDsjCyzom4h9LlVk4-6jp@db.prisma.io:5432/postgres?sslmode=require"
PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19ZRHNqQ3l6b200aDlMbFZrNC02anAiLCJhcGlfa2V5IjoiMDFLQU43UTRLN0E2RU1KQzJKVzU1RUhFS0giLCJ0ZW5hbnRfaWQiOiJmNTU1ODNmN2I3ZDg0ODhiM2ExMjVmZjA1NTA1Njc4NzdkNDYwODNkNjVmNTM0YTZkOTJmYjE2NjgxZWZlZDg0IiwiaW50ZXJuYWxfc2VjcmV0IjoiMGJlZTAyYzItNDYzZC00MmYwLThmZDEtZmYxZmZiOTk5NGZiIn0.5BVX8ynsoX0WFHYIYh-jZF6NbbyY3scSbAevXy-Yypk"
NEXT_PUBLIC_APP_URL='https://tinylinks-gamma.vercel.app'